8 /* N - number of processes in the distributed system */
1 /* d - incremental value in vector clocks */
net22 /*Identity of process 1*/
net23 /*Identity of process 2*/
net24 /*Identity of process 3*/
net25 /*Identity of process 4*/
net26 /*Identity of process 5*/
net27 /*Identity of process 6*/
net28 /*Identity of process 7*/
net29 /*Identity of process 8*/
1 /* tmin - timeout range for msg generation */
4 /* tmax - timeout range for msg generation */
0.7 /* p - probability of local and send events */
50 /* E - total event count */

